/0.png
/1.png
/3.png
/4.png
/7.png
/by_class.zip
/data_0.png
/data_1.png
/data_7.png
/data_8.png
/data_m.png
/data_p.png
/NetRaw.py
/rename.py
/test.py
/trash.png
/small_data.zip

/data/
/small_data/
/venv/

/conv_layer.py
/data.zip

/example_conv.py
/example_mnist_conv.py
/example_mnist_fc.py
/example_xor.py
/example_xor_new.py
/flatten_layer.py
/layer.py
/network.py
